<?xml version="1.0"?>
<launch>  
    <!-- Directory for the px4 fimware -->
    <arg name="firm_dir" default="/home/antony/Documents/Git/Firmware"/>
    <node pkg="uav_mavros_simulation" name="uav"  type="px4_launch_gazebo.sh" args="$(arg firm_dir)" output="screen" />

    <!-- Initialize uav telemetry -->
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
    </include>    

</launch>